# Python кэш
__pycache__/
*.py[cod]

# Виртуальное окружение
venv/
env/
.venv/

# Секреты и переменные окружения
.env

# База данных (если не нужна в проверке)
db.sqlite3

# IDE и редакторы
.vscode/
.idea/

# Логи и мусор
*.log
.DS_Store
